In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [13]:
scy=StandardScaler()
Y_train=scy.fit_transform(Y_train)
Y_test=scy.transform(Y_test)

In [14]:
X_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [15]:
from sklearn.svm import SVR
regressor=SVR(kernel="rbf",C=3000)
regressor.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=3000, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [16]:
regressor.intercept_

array([0.85356982])

In [17]:
regressor.n_support_

array([         0, 1072693248])

In [18]:
regressor.support_

array([  2,   3,   4,   6,   8,   9,  12,  13,  15,  18,  21,  22,  25,
        26,  29,  30,  33,  35,  36,  37,  39,  41,  44,  45,  46,  47,
        48,  52,  54,  57,  58,  59,  61,  66,  68,  69,  70,  71,  72,
        75,  76,  78,  85,  90,  91,  92,  95, 100, 101, 104, 105, 107,
       113, 117, 118, 121, 123, 125, 126, 129, 132, 138, 142, 147, 150,
       153, 155, 158, 162, 165, 168, 169, 174, 177, 178, 179, 180, 192,
       193, 195, 197, 199, 200, 201, 202, 203, 204, 205, 206, 207, 209,
       211, 212, 213, 214, 215, 218, 220, 223, 226, 229, 231, 233, 236,
       237, 238, 239, 240, 241, 243, 245, 247, 248, 251, 253, 255, 257,
       259, 263, 264, 266, 267, 274, 276, 279, 281, 285, 286, 293, 295,
       296, 297, 300, 308, 309, 312, 315, 317, 319, 321, 322, 323, 326,
       331, 334, 335, 337, 338, 343, 344, 345, 347, 348, 349, 350, 351,
       352, 353, 357, 358, 359, 360, 361, 364, 365, 366, 369, 370, 373,
       375, 376, 382, 384, 386, 387, 388, 389, 391, 392, 395, 396, 397,
       398, 399, 400, 401, 402, 410, 412, 413, 418, 420, 421, 422, 423,
       424, 426, 427, 428, 433, 436, 437, 442, 444, 445, 446, 447, 448,
       449, 450, 452, 453, 454, 458, 460, 462, 463, 464, 467, 468, 470,
       471, 472, 474, 478, 481, 484, 486, 487, 490, 491, 492, 493, 494,
       495, 497, 499, 501, 504, 505, 507, 510, 511, 512, 513, 514, 519,
       522, 523, 527, 528, 529, 530, 532, 535, 536, 537, 538, 540, 543,
       544, 545, 547, 548, 549, 550, 554, 558, 560, 562, 563, 564, 566,
       568, 569, 570, 573, 575, 576, 579, 584, 585, 587, 589, 590, 593,
       596, 598, 601, 602, 603, 604, 605, 606, 607, 608, 609, 611, 612,
       615, 623, 624, 625, 628, 629, 630, 634, 639, 640, 645, 648, 649,
       653, 655, 656, 657, 658, 660, 661, 662, 670, 673, 674, 676, 678,
       680, 682, 685, 688, 689, 692, 695, 696, 698, 700, 701, 702, 708,
       710, 713, 717, 719, 722, 723, 724, 725, 727, 728, 729, 730, 731,
       734, 735, 737, 738, 744, 745, 748, 749, 750, 751, 753, 754, 758,
       762, 768, 776, 777, 779, 780, 781, 783, 784, 785, 786, 790, 794,
       795, 797, 798, 799, 800, 801, 802, 805, 806, 807, 808, 809, 811,
       812, 813, 814, 815, 817, 820, 825, 826, 827, 828, 830, 831, 833,
       834, 837, 839, 842, 844, 846, 847, 850, 852, 855, 856, 859, 862,
       865, 866, 867, 868, 870, 873, 875, 876, 877, 880, 881, 888, 890,
       895, 896, 897, 898, 900, 906, 907, 908, 909, 910, 911, 915, 917,
       925, 926, 927, 928, 929, 930, 933, 935])

In [19]:
y_pred=regressor.predict(X_test)

In [20]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)

In [21]:
r_score

0.7708119888625723

In [22]:
import pickle
filename="final_model_svm.sav"

In [23]:
pickle.dump(regressor,open(filename,'wb'))

In [24]:
preinput=sc.transform([[19,27,3,0,1]])

In [25]:
preinput

array([[-1.46169465, -0.60208803,  1.59428492, -0.97676557,  1.98149332]])

In [26]:
loaded_model=pickle.load(open("final_model_svm.sav",'rb'))
result=loaded_model.predict(preinput)

In [27]:
result

array([0.45261419])

In [28]:
preoutput=scy.inverse_transform([result])

In [29]:
preoutput

array([[18607.14983152]])